[2018-07-31 16:18] niaow opened #1 "Gorilla Websocket"
* Where is the project currently hosted? https://github.com/gorilla/websocket

* Is the project written only in Go, or does it contain other languages (beyond scripts)? pure go

* Has the project had any recent activity? Last activity June 5. Project still receives bug fixes via pull request.

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project? Yes

[2018-07-31 17:00] elithrar commented on #1
The Gorilla organization can create a "team" that includes gofrs members, and grant that team access to the websockets project.

[2018-07-31 17:10] jadr2ddude commented on #1
There was also a discussion of possibly mirroring the fork back to the original repo.

[2018-07-31 17:30] elithrar commented on #1
I think that becomes pretty complicated, and the "gorilla/websocket" name
is fairly widespread. Solving group permissions is easier than forking,
mirroring and dealing with end-user confusion. Vanity import paths don't
fix this either, and often break.

On Tue, Jul 31, 2018 at 10:10 AM Jaden Weiss <notifications@github.com>
wrote:

[2018-07-31 17:46] nulladmin opened #2 "github.com/sirupsen/logrus"
* Where is the project currently hosted?
https://github.com/sirupsen/logrus

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

All in Go, widely used.

* Has the project had any recent activity?

Yes

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

Maintainer is looking for someone. From the Readme:

"A

[2018-07-31 18:05] flibustenet opened #3 "https://github.com/nfnt/resize"
* Where is the project currently hosted?

https://github.com/nfnt/resize

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Go

* Has the project had any recent activity?

2 years

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

https://github.com/nfnt/resize/issues/63

* Do you have any example project

[2018-07-31 18:27] adamdecaf opened #4 "add "are there alternatives available" to PR template"
I propose we add the following to the PR template questions:

`Are there active projects which replicate the popular functionality of this project?`

Currently the following questions are asked:

* Where is the project currently hosted?
* Is the project written only in Go, or does it contain other languages (beyond scripts)?
* Has the project had any recent activity?
* Does the project have a main

[2018-08-02 17:29] dbemiller opened #5 "buger/jsonparser"
* Where is the project currently hosted?

https://github.com/buger/jsonparser

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Go only

* Has the project had any recent activity?

Last commit: March 18... but the activity has been sparse since July 2017.

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

[2018-08-03 06:53] theckman commented on #4
@adamdecaf would you be willing to raise a PR against this file? https://github.com/gofrs/help-requests/blob/master/.github/ISSUE_TEMPLATE

[2018-08-03 06:59] theckman commented on #1
@elithrar I assume some of us would need to become administrators of the `gorilla` organization if we wanted to integrate with any third party applications? These are the types of things I'm not entirely sure of how well they'd work when it comes to taking over a project.

[2018-08-03 20:19] fbaube opened #6 "Slack alternatives"
Is there a way to discuss opportunities without using Slack ?

[2018-08-03 20:22] theckman commented on #6
@fbaube at this time if you can't use Slack, your secondary option would likely be a GitHub issue. Because the Go community has converged on Slack, nearing 30k users, it made the most sense to build around that.

[2018-08-03 21:45] adamdecaf commented on #4
For sure!

[2018-08-04 18:01] bcho opened #7 "go-bindata"
* Where is the project currently hosted?

Multiple forks, most are based with https://github.com/go-bindata/go-bindata

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

In pure go.

* Has the project had any recent activity?

Most forks made small changes.

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project

[2018-08-05 18:47] fbaube commented on #6
I'd be happy with a list of projects that have passed "review", plus a PoC (for all or per-project) for chipping in. But I see now there's quite a list of projects collected in this issues list :)

[2018-08-06 06:08] antham opened #8 "Godef"
* Where is the project currently hosted?

https://github.com/rogpeppe/godef

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Yes

* Has the project had any recent activity?

Last commit in main branch was done 11 months ago

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

There is no official request

[2018-08-06 12:29] GithubUser5462 opened #9 "gads - Google Adwords API for Go"
* Where is the project currently hosted?
Multiple forks based on https://github.com/emiddleton/gads

* Is the project written only in Go, or does it contain other languages (beyond scripts)?
Only in Go

* Has the project had any recent activity?
Some forks tried to implement a newer version of the api with unclear success.

* Does the project have a maintainer, or a maintainer looking for someone

[2018-08-06 15:26] theckman commented on #1
If we want to take over, let's not miss this recently closed PR:

- https://github.com/gorilla/websocket/pull/192

[2018-08-06 15:55] theckman commented on #2
This seems like it could be a good project to help with. I know quite a few projects in the ecosystem use this library, include some of my own personal projects. I can file an issue to ask whether they are still looking, and how they'd like to have us start helping if so.

[2018-08-06 19:14] Asarew commented on #8
See also my comment in one of the stale [issues](https://github.com/rogpeppe/godef/pull/77#issuecomment-400823178).

[2018-08-06 19:16] antham commented on #8
Ah ok, I saw your comment but I didn't know you where from this organization

[2018-08-06 21:09] franklinyu commented on #7
Just another datapoint: [Homebrew selected kevinburke/go-bindata](https://github.com/Homebrew/homebrew-core/blob/master/Formula/go-bindata.rb). The go-bindata/go-bindata mentioned above gets most stars though.

[2018-08-06 23:43] pedromorgan opened #10 "go-mail"
* Where is the project currently hosted?

https://github.com/go-gomail/gomail

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

pure.go :-)

* Has the project had any recent activity?

That's the problem..
Its the **maintainer missing** problem  https://github.com/go-gomail/gomail/issues/104
is it an org or an user ?
- I also added comments to new issues,

[2018-08-06 23:59] pedromorgan commented on #7
Well into the "maintained idea" of this one.. am on the second fork.... want the stable fork...

[2018-08-08 15:54] afiune commented on #5
FYI: Issue https://github.com/buger/jsonparser/issues/127 has been solved!

[2018-08-09 02:53] plutov opened #11 "wit.ai Client"
* Where is the project currently hosted?

https://github.com/kurrik/witgo
https://github.com/jsgoecke/go-wit

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Go only

* Has the project had any recent activity?

Not really, it is not compatible with new Wit.ai API

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the

[2018-08-11 21:03] theckman commented on #7
I think this is a good project to take over. The scope is pretty focused, and it's relied on heavily by the community. It's also one of Go's "leftpad" packages, and so it's in a spot where it'd be nice to have a good story around maintaining the project.

What do we feel would be the right project / commit to fork from? Are there any good idea of outstanding issues or feature requests we should lo

[2018-08-11 21:09] #4 closed

[2018-08-12 07:30] theckman commented on #10
@pedromorgan I noticed that a hard fork had already happened with this project to https://github.com/go-mail/mail. They do seem to be actively maintaining it.

Do you feel there is a reason to fork the project again that the above project doesn't solve? Or did I misunderstand and you're asking for something else to possibly happen?

[2018-08-12 08:28] theckman commented on #5
@dbemiller Thankfully seems like the author is still around/merging some things, albeit not many of them. How were you thinking we should look to help with this project?

[2018-08-12 08:34] theckman commented on #11
@plutov thank you for reaching out, and your interest in having us look at taking over these projects. Unfortunately, I don't feel that either of these two projects are a good fit for our organization right now.

We're looking to adopt packages that have reached a certain level of maturity and adoption, that have a sizable impact on the Go ecosystem. Looking at these two packages, and the list of

[2018-08-12 08:34] #11 closed

[2018-08-12 08:41] theckman commented on #9
Here are the AdWords API docs:

- https://developers.google.com/adwords/api/docs/guides/start

They definitely don't make it an appealing API to have to work with, especially in Go:

@GithubUser5462 would you be able to provide any estimates for how much work you'd think would be involved in upgrading this package to work with the newer versions of the API?

Would you be able to provide an example

[2018-08-12 08:43] theckman commented on #3
This seems like it could be a good candidate. Let me do some noodling on this one.

[2018-08-12 08:44] theckman commented on #6
@fbaube I'm going to work on getting a simple website up with this information, and more, ideally within the next week.

[2018-08-13 12:33] dbemiller commented on #5
@theckman I think we can close this. At the time I opened this issue, https://github.com/buger/jsonparser/issues/127 had been open for 9 months, and @HCHagen's PR fixing it had been open for 1 month, without any comments from the owner.

I had made a fork for our own project with those fixes merged in, but reached out here in hopes of starting a more community-driven fork.

These have been fixed,

[2018-08-13 14:51] josharian commented on #7
cc @kevinburke

[2018-08-13 15:00] kevinburke commented on #7
Hey, yeah, if you run “brew install go-bindata” you get my fork now and I’m
committed to maintaining it!

On Mon, Aug 13, 2018 at 16:51 Josh Bleecher Snyder <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2018-08-14 07:56] kevinburke commented on #7
Some of the issues I've fixed include:

- writing the bindata.go file is now atomic

- gofmt used to generate a Git diff when applied to the generated bindata.go file, now it doesn't

- more error checking on file write

Some features added:

- get the SHA256 digest of a file

- file sizes appear in the TOC

- benchmarks

- performance improvements

- `AssetString` and `MustAssetString` helper fun

[2018-08-14 21:07] pedromorgan commented on #10
Snag is that with that fork (there are others) is back to single "admin" problem.. for intial fork!!!
and maintainer missing if a bus falls off a bridge...

That IMHO is always a problem.. Ie one person goes missing et all..
and all contribs get confused..

So a harbinger for me is a good project, and < 3 admins/owners whatever

[2018-08-15 15:16] theckman commented on #7
So based on @kevinburke's comment, does it make sense to close this issue citing his fork as being the answer?

If so, @kevinburke if you'd ever like to stop having to watch over it, or need help, we'd definitely be interested in picking up the project.

[2018-08-15 17:32] kevinburke commented on #7
Sounds good!

[2018-08-16 03:47] caalberts opened #13 "ngrok"
* Where is the project currently hosted?
https://github.com/inconshreveable/ngrok

* Is the project written only in Go, or does it contain other languages (beyond scripts)?
Core in Go, some Javascript for web UI

* Has the project had any recent activity?
Last commit was 3 years ago. The maintainer has shifted focus to a closed source v2.x.

* Does the project have a maintainer, or a maintainer lo

[2018-08-16 15:46] theckman commented on #1
We're now committed to becoming active in this project. For the time being that'll likely be triaging of issues and reviewing of PRs. As trust is gained with the current maintainers within gorilla it seems likely the responsibility size will grow.

We're committed to keeping the repo at `gorilla/websocket`. That said, in the interest of us being able to collaborate more-easily together, I'm going

[2018-08-16 16:02] theckman commented on #7
Closing this in favor of: https://github.com/kevinburke/go-bindata

[2018-08-16 16:02] #7 closed

[2018-08-16 16:04] theckman commented on #13
It's interesting that you mentioned this, because I wondered if it made sense for us to build something like this from the ground-up. Like an open source implementation of the v2.0 featureset, without relying on any of the older code.

If we adopted this, what do you think we would do? Add a lot more features, or just keep it alive?

[2018-08-16 21:50] jadr2ddude commented on #13
@theckman I was thinking the same thing! We could implement via a package that did the basic functionality (e.g. ListenAndServeGofrs-ish thing) and command-line client/server applications using this package.

[2018-08-16 22:07] trevorstarick commented on #13
I use Ngrok all the time and would love to help build and maintain a open source derivative!

[2018-08-17 01:07] caalberts commented on #13
The appeal of ngrok to me is that it doesn't add noise to a codebase. It's a versatile tool that boosts dev productivity. Being a CLI, it's compatible with servers written in any language.

In that regard, I would like to see it remain as a CLI tool. How to get there, be it maintaining a fork of v1.0, rebuilding from ground up, is up for discussion.

@trevorstarick feel free to jump in since you u

[2018-08-17 01:29] trevorstarick commented on #13
The goal of the project is to maintain packages and projects, as well as create useful tools to support that goal.

For example, issue number #8 looking into maintaining (godef)[https://github.com/rogpeppe/godef]

[2018-08-20 05:04] plutov opened #14 "Review GitHub Go repositories with stars but old last commit"
Using this GH query I found >40 Go repositories with > 500 stars and which have last commit pushed before Jan 1 ’18.

https://github.com/search?q=language%3Ago+and+stars%3A%3E500+pushed%3A%3C2018-01-01

Something not being pushed doesn't mean it's unmaintained. So we need to manually review those repositories and create help request if necessary.

[2018-08-21 17:50] adamdecaf commented on #14
I was writing a script using this metric along with "most importers on godoc.org" to find projects which could use our support the most.

[2018-08-21 19:57] adamdecaf commented on #10
Is the `go-mail` org empty of people? https://github.com/orgs/go-mail/people (or are the member(s) just private)

There seems to be a lot of open issues and PR's, but the `go-mail` fork has some activity. Are you just asking for volunteers?

Also, we should at least fix the x509 advice on the readme: https://github.com/go-mail/mail#x509-certificate-signed-by-unknown-authority

[2018-08-21 20:32] pedromorgan commented on #10
gomail/gomail - maintainer missing, on a private repos
gomail/mail - active fork with only one maintainer/permissions (hopefully not a repeat of orginal problem)

Think a few more comitters and experts would be a git help to create a STABLE library..

[2018-08-21 23:38] nathany opened #15 "fsnotify"
* Where is the project currently hosted?
https://github.com/fsnotify

* Is the project written only in Go, or does it contain other languages (beyond scripts)?
Entirely Go for https://github.com/fsnotify/fsnotify, but related project https://github.com/fsnotify/fsevents uses a fair bit of `cgo` in the Go code.

* Has the project had any recent activity?
Not for several months (Jan 9).

* Does the

[2018-08-22 07:27] nathany commented on #15
I don't believe there has ever been a security audit on fsnotify.

[2018-08-22 21:04] pedromorgan commented on #10
Oh and probably the main thing,
I dont trust the fork maintainer.. not mentioned here,,
but certainly has an opinion about how things should go...
so its politics also...

[2018-08-22 21:04] adamdecaf commented on #5
I'm in favor of closing this as after a quick glance over the open issues nothing popped out to me as critical.

This project is being used by a fair number of projects, but since there's an active fork all we'd do is take control of that? Do we need to?

[2018-08-22 21:06] adamdecaf commented on #10
IMO gofrs should stay out of project politics. We're just trying to keep critical projects alive.

[2018-08-22 21:09] pedromorgan commented on #10
Absolutely.. and no politics means having a few devs..
instead of one...(see problem above of only one maintainer * 2)..
IMHO its a "critical project", cos people are still installing the first one (and it still works, thanks go)

[2018-08-22 21:11] adamdecaf commented on #5
I ran into [github.com/zimmski/fuzzer](https://github.com/zimmski/fuzzer/blob/master/usages/golang-json-unmarshal/json_test.go), which has a super simple fuzzing test. I adapted it and am running over this project. I'm going to run go-fuzz over this project too.

<details>
<summary>fuzz example</summary>

[code]

[2018-08-22 21:14] pedromorgan opened #16 "gofrs.github.io"
Can i suggest setting up a www site..

at
gofrs.github.io

And make it simple bootstrap site (mobile firendly etc)

- that makes the "mission" cleare
-  for other to understand..

ie if its a decent lib and kinda works, then we baby sit..

[2018-08-22 21:15] pedromorgan commented on #16
Also set up a gofrs chat channel... on gitter.im

[2018-08-22 21:16] adamdecaf commented on #16
@theckman is setting up a site, see https://github.com/gofrs/help-requests/issues/6#issuecomment-412328144

[2018-08-22 22:20] jadr2ddude commented on #6
We could set up a gitter, but I do not know how helpful that would really be. Having a second stream of chat would complicate things.

[2018-08-22 22:24] ferhatelmas opened #17 "ReactiveX/RxGo"
* Where is the project currently hosted?

[github.com/ReactiveX/RxGo](https://github.com/ReactiveX/RxGo)

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Only Go.

* Has the project had any recent activity?

Nothing serious since September, 2017.

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

[Maint

[2018-08-22 23:15] pedromorgan commented on #6
Simple decision for me./..

Gitter integrates with gh+gl..

Slack is proprietry and not invited..

[2018-08-22 23:16] pedromorgan commented on #6
And stuff Slack. .lets for IRC..

[2018-08-23 00:01] theckman commented on #6
I definitely don't want to insulate anyone from our effort by choosing a specific chat medium, but I think if you look within the context of the larger Go community there's been a coalescing of people towards Slack. Whether or not you like Slack, it's hard to argue with 30.5k registered users. It's also open for anyone to join, by requesting an invite [here](https://invite.slack.golangbridge.org/)

[2018-08-23 00:09] theckman commented on #6
@gofrs/all thoughts?

[2018-08-23 03:34] zerkms commented on #6
In cases when I have multiple choices and want to make a kind-of-scientific decision I create a table where I enumerate the constraints I have/goals I want to achieve, those choices, and their corresponding pros/cons weighted against constraints/goals.

If the slack (as an place where the initiative group met each other originally) does not work well, I propose to create at least a list with the g

[2018-08-23 16:51] Xe commented on #6
Slack works well enough for now IMO. It's not worth dying on that hill.

[2018-08-25 21:02] bazo opened #18 "https://github.com/istreamdata/orientgo"
* Where is the project currently hosted?

https://github.com/istreamdata/orientgo

* Is the project written only in Go, or does it contain other languages (beyond scripts)?

only go i think

* Has the project had any recent activity?

3 years ago

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

looks abandoned

* Are there active projects whic

[2018-08-26 03:02] zerkms commented on #18
https://godoc.org/gopkg.in/istreamdata/orientgo.v2?importers

[2018-08-26 03:03] zerkms opened #19 "Discussion: should we add godoc importers link in the default template?"
eg: https://godoc.org/gopkg.in/istreamdata/orientgo.v2?importers

[2018-08-26 05:41] nathany commented on #15
Today I was able to do some work on the related fsnotify/fsevents (macOS) project. Anyone planning to be down in Denver for GopherCon this year? A good time to get organized.

[2018-08-26 05:57] theckman commented on #16
I've acquired a domain a few weeks ago, and so I won't be using a `github.io` one. Going to close this only because it's already WIP, and we'll be using a different domain.

[2018-08-26 05:57] #16 closed

[2018-08-26 05:58] theckman commented on #19
Sure. Would you mind raising the PR for that?

[2018-08-26 06:02] theckman commented on #10
@pedromorgan have you stepped-in to help the current maintainer with the upkeep on the project? If not, what's prevented that?

I'm hesitant to come out of the woodworks on a project where there looks to be an active maintainer, and the maintainer doesn't _seem_ to be looking for someone to take the project over.

I'd like to hear the opinion of other @gofrs/all, but I'm generally leaning towards

[2018-08-26 06:03] theckman commented on #6
Happy to revisit later if someone wants to raise a new issue. For now I'd say we're committed to Slack.

[2018-08-26 06:03] #6 closed

[2018-08-26 06:08] theckman commented on #13
I think we'll pass on `ngrok` for now.

I know @trevorstarick is thinking about an open source rewrite that tries to implement all of the ngrok 1.0 features, and to see if there are any features we want to emulate in v2.0. We can raise an issue for that once we come up with a proposal.

Because of v2.0 getting some paid functionality, I think we should avoid making use of `ngrok` v1 code. With tha

[2018-08-26 06:08] #13 closed

[2018-08-26 06:09] theckman commented on #5
👍 on closing this at this time. Nothing prevents us from opening a new issue in the future if we want to reconsider this project.

[2018-08-26 06:09] #5 closed

[2018-08-26 06:10] theckman commented on #9
It doesn't seem like this project is a good fit for us right now, so I'm going to close this issue. Thank you for taking the time to giving us the opportunity to see if this project would be a good fit.

[2018-08-26 06:10] #9 closed

[2018-08-26 06:11] theckman commented on #14
It would be rad if someone could go over the data presented here, and to raise any new issues based on the findings. It may be good to note projects you explicitly avoided opening one for, and why (if there is some interesting reason).

@plutov would you be interested in owning that? @adamdecaf or you? Maybe both of you could pair together on this one?

[2018-08-26 06:16] theckman commented on #18
I did some digging, and it seems like one person who is involved `cayley` used to be involved with this.

Looking at the lack of known importers for this package, I don't feel this is a good fit for us.

[2018-08-26 06:16] #18 closed

[2018-08-26 06:19] #17 closed, assigned to nobody

[2018-08-26 07:39] plutov commented on #14
@theckman @adamdecaf I am happy to help with this! I did manual review of my query and it doesn't give any potential candidates.

[2018-08-26 11:53] pedromorgan commented on #10
I actually created the project, and added another person as an owner, who then removed me for complete sole ownership, that was my trust gone.

[2018-08-26 21:28] adamdecaf commented on #14
I'll finish out my code and generate a list or two.

[2018-08-26 21:30] adamdecaf commented on #10
Agreed

[2018-08-27 02:30] theckman opened #20 "GopherCon Role Call"
Hey All,

I planned poorly and didn't think to set up a better medium to see who all from the Gofrs is going to be in Denver this week for GopherCon 2018. I know some will be, including myself.

If you're in town, and on Slack, please drop a message in the [#gofrs](https://gophers.slack.com/messages/CBP4N9BEU) channel. Include when you come in, and when you leave. If you aren't in the Slack worksp

[2018-08-27 03:06] mdlayher commented on #20
I'm here! Looking forward to meeting you! mdlayher on Slack as well.

[2018-08-27 03:09] leighmcculloch commented on #20
I'll be there tomorrow onwards! I'm `leigh`on Slack.

[2018-08-27 07:07] ferhatelmas commented on #17
@theckman thanks for giving time. Your comment also helped me to better understand what we're trying achieve and what we're looking for.

[2018-08-27 14:57] Xe commented on #20
I'm Xe on slack. I have nothing to do today because I didn't get into a workshop.

[2018-08-27 22:40] ferhatelmas commented on #14
I had seen this:

https://isitmaintained.com/

might be useful for manual pruning after getting a smaller list.

[2018-08-30 17:43] #20 closed

[2018-08-30 18:42] AgentZombie opened #23 "When and how do we let a project die?"
Sooner or later we'll receive  a request to take over a project that we probably shouldn't. Maybe there really are better alternatives that are maintained. Maybe the code is too much of a mess. Maybe none of the current gofrs contributors have the expertise (e.g. deep crypto). Maybe there are active maintainers but they're not addressing the requestor's specific issues.

We should have a living do

[2018-08-30 19:37] theckman opened #24 "Should we require a CLA for code contributions?"
This was raised as a question at the Gofrs community table, and I think it's better for us to answer this sooner as a group. CLAs have benefits, one example being that it makes it so that we don't need to track down individual contributors if we want to change licenses (not that I suspect we ever would). With everyone being welcome in the organization, they would still have a say in any sort of ch

[2018-08-30 19:46] leighmcculloch commented on #24
👍I think this would be a good idea. I think we should consider trying to make the CLA and licensing of the projects adopted as compatible/mindful of Go's own CLA and licensing, so that it would be possible to take packages we have here and propose them to be included in the stdlib or similar. I'm not proposing that we make that our goal, but that we could make that possibility easier to occur.

[2018-08-30 19:57] jadr2ddude commented on #24
I am not sure how much the CLA would help. We would still need to track down the original owners/contributors.

[2018-08-30 19:58] acln0 commented on #24
IANAL. Reading through the Google CLA, it seems to me like the agreement is made between the copyright owner or legal entity authorized by the copyright owner, and Google.

If the Gofrs were to adopt a CLA, contributors (the copyright owners) would make an agreement with The Gofrs, but it is unclear to me if The Gofrs is any kind of entity that can make such an agreement, in such a way that the ag

[2018-08-30 21:00] theckman commented on #23
Thanks for raising this. This is something I've been noodling for a little bit, in terms of a set of initial ideas to seed a conversation. Before trying to talk to the points here, there were a few projects we declined so far for a few different reasons:

* https://github.com/gofrs/help-requests/issues/18 (`github.com/istreamdata/orientgo`)
  * Package has no external importers
  * Author moved on

[2018-08-30 21:17] AgentZombie commented on #23
I'll be happy to create a PR for the website or a markdown-in-github document to concisely convey the common reasons once there's been more discussion or silence on this issue.

[2018-08-30 21:25] theckman commented on #24
Yes. That's something to consider as part of this. I know there are "Legal Entity" requirements for CLAs, and if we feel it would be a good investment it would be good to see what is needed to make that work.

[2018-08-30 21:27] zerkms commented on #24
One good recent example why having CLA is a good idea https://github.com/lerna/lerna/issues/1622

[2018-08-31 03:35] gdey opened #25 "Gocode"
* Where is the project currently hosted?

TBD
* Is the project written only in Go, or does it contain other languages (beyond scripts)?

Yes, may contain other languages.

* Has the project had any recent activity?

TBD

* Does the project have a maintainer, or a maintainer looking for someone to take
  over the project?

Nate finch is looking for someone to take over

* Are there active projects

[2018-08-31 03:36] gdey commented on #25
@gdey and @tim talked about this at the bar.

[2018-08-31 13:08] dylan-bourque commented on #23
I think the first 2 criteria should be:
1) In use by the community, i.e. imported by projects other than the one we're being asked to adopt.
2) The current or former owners/maintainers have abandoned it.

All of the examples @theckman gave fail one or both of these.

The exception would be something that we think has legs but isn't done/ready yet so we take it on because the current owner can't or

[2018-08-31 13:13] jadr2ddude commented on #25
There is an actively maintained fork which nsf/gocode recommends: https://github.com/mdempsky/gocode

[2018-08-31 13:15] jadr2ddude commented on #25
If we are willing to help with this, we should ping mdempsky on this issue

[2018-08-31 17:38] theckman opened #26 "Donation of go-flock"
https://github.com/theckman/go-flock

Pure Go, but does have some gnarly Windows system calls.

~19 days ago.

  over the project?

Yeah. I'm not _actively_ looking, but with it being the most popular flock package (according to imports) it seems good to make sure to maintain it.

There don't appear to be any direct competitors. Plenty of projects have implemented their own `flock` in subpackages.

[2018-08-31 17:39] theckman commented on #26
@gofrs/all Considering my biases, would someone be willing to handle the investigation of this project to see if it's a good fit for us?

[2018-08-31 17:57] jadr2ddude commented on #26
So: package is relatively straightforward, and imported by 22 packages. I don't think that this would be too much of a maintenance burden. Here are some things that would need to be done:

1. finish/merge this PR: https://github.com/theckman/go-flock/pull/21
2. review the API and make any possible fixes/simplifications
3. release a v1 for SemVer stability guarantees.

This package is simple and us

[2018-08-31 18:14] jadr2ddude commented on #26
Repo will be transferred soon. This will also help us see how viable a repo transfer is for gofrs projects.

[2018-08-31 19:04] adamdecaf commented on #24
Wouldn't we have to get contributors from before we adopted a project to sign off on a license change too?

[2018-08-31 19:08] nathany commented on #24
I'm undecided, but I did want to mention that Hugo uses https://cla-assistant.io/

https://cla-assistant.io/gohugoio/hugoDocs

[2018-08-31 19:27] adamdecaf commented on #26
+1 to adopting this project. The code is straightforward enough and self contained.

I updated CI settings a bit: https://github.com/theckman/go-flock/pull/23

Right now `go-flock` is the top result for Go "lock file" queries: https://github.com/search?q=language%3Ago+%22file+lock%22

Fun tidbit: This project was almost added to `dep`: https://github.com/golang/dep/pull/1117

[2018-09-01 18:06] itsjamie commented on #24
Yes. A CLA would make sense if we plan to ever relicense a project.

As I don't see a need for us to re-license away from BSD or MIT for any project, I don't personally see the need for a CLA.

[2018-09-01 21:33] theckman commented on #26
I'm on a short vacation this weekend, so it'll likely not happen until early next week (unless I get some spare alone time this weekend).

[2018-09-01 23:50] dylan-bourque commented on #24
I think a CLA makes sense, just to avoid any legal hassle later. Either that or make license an explicit part of the acceptance criteria for adopting a project.

[2018-09-03 01:01] mattouille commented on #24
This is kind of a good point. What happens if a project approaches us with "less free" licensure? Do we demand they change it? I think that requires an enormous amount of effort with some licenses (requires voting and removal of less-free code).

[2018-09-05 15:41] nemith opened #28 "github.com/samuel/go-zookeeper"
* Where is the project currently hosted?
github.com/samuel/go-zookeeper

* What languages other than Go does the project utilize?
Pure Go

* When was the project's last activity?
Jan 30th, 2018.  However there are 56 active issues and 23 PRs dating back to 2013.  I have had pull requests accepted in the past year, but it is spotty at best.

* Does the project have a maintainer, or a maintainer loo

[2018-09-05 15:50] adamdecaf commented on #28
+1 to adoption. This is used in [vault](https://github.com/hashicorp/vault/blob/master/physical/zookeeper/zookeeper.go) and [prometheus](https://github.com/prometheus/prometheus/blob/master/discovery/zookeeper/zookeeper.go) and there are tons of importers.

I've worked with this library a bit, but will help out on the issues PR's.

There seems to be another fork [from the network graph](https://gi

[2018-09-12 05:52] theckman commented on #26
Was hoping PR 21 would get updated so I could merge it before moving the project.

[2018-09-12 15:33] theckman commented on #25
Is there anyone in the @gofrs/all who feels we should definitely reach out and offer to help, anyone who doesn't? Is there someone who would want to be the "champion", for lack of better terms, for pursuing this project?

[2018-09-12 15:36] theckman commented on #8
Pinged again. If we don't hear back relatively soon (day or two) I'll bring up the repository.

[2018-09-12 15:59] dylan-bourque commented on #25
I can't think of any specific reason to *not* reach out.  Definitely feels like `gocode` is a widely used tool and the community would be hurt if it withers.  I've also seen quite a few references to people having issues in VS Code recently related to Go 1.11 and `gocode`.  I'd be down to contribute some work, but I definitely don't have the bandwidth to be the steward.

On a little bit of a tange

[2018-09-12 18:18] adamdecaf commented on #14
I created https://github.com/gofrs/help-requests/pull/29 for finding both github stars and godoc imports. The script needs sorting (and probably some cleanup), but I wanted to get it pushed up.

[2018-09-13 19:53] mattouille commented on #25
iirc GoCode is the package that's holding up VSCode's support of go modules

[2018-09-15 21:34] theckman commented on #26
Merged. Will migrate now.

[2018-09-15 21:48] theckman commented on #26
Done: https://github.com/gofrs/flock

[2018-09-15 21:48] #26 closed

[2018-09-25 02:35] adamdecaf commented on #28
I emailed samuel.

[2018-10-05 17:55] nemith commented on #28
I did as well a little over a month ago and got no response.

[2018-10-08 15:28] adamdecaf commented on #28
I haven't heard anything.

[2018-10-11 17:52] kjellkvinge opened #30 "github.com/fatih/color"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2018-10-11 17:58] adamdecaf commented on #30
Aside from yesterday, there were 7 issues updated in 2018. Source: https://github.com/fatih/color/issues?q=is%3Aissue+is%3Aclosed+sort%3Aupdated-desc

If there are open bugs then I'm fine forking and helping fix, but I'm unsure if there are.

There are similar community projects, but none are a drop-in replacement.
- https://github.com/gookit/color
- https://github.com/mattn/go-colorable

[2018-11-15 15:33] caalberts opened #31 "github.com/spf13/viper"
Where is the project currently hosted?

https://github.com/spf13/viper

When was the project's last activity?

Latest commit on 18 Apr 2017
Ongoing issues and unmerged PRs

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

No response from the maintainer on issues and PRs.

What active projects replicate the popular functionality of this project, if

[2018-11-19 01:39] adamdecaf commented on #31
Scanning the first page of issues there seems to be a lot of bugs open.

[2018-12-05 23:31] nemith commented on #28
Any plan here?  Anything I can help out with?

[2018-12-06 21:01] adamdecaf commented on #28
Dunno. The issues have been pretty quiet.

[2018-12-07 16:18] adamdecaf opened #32 "bitly/oauth2_proxy"
**Where is the project currently hosted?**

https://github.com/bitly/oauth2_proxy

**What languages other than Go does the project utilize?**

There are a couple bash files for deploy/testing.

**When was the project's last activity?**

Commit: March 24, 2018
Release: April 24, 2017

**Does the project have a maintainer, or a maintainer looking for someone to take over the project?**

Not really,

[2018-12-07 16:19] adamdecaf commented on #32
I'll volunteer some time to re-read, spruce up CI, and run through issues if we adopt the project. I'd like to see it be maintained at least.

[2019-01-03 00:53] alxn commented on #28
We have heavy use of this library at Uber and had a couple of PR's merged previously (https://github.com/samuel/go-zookeeper/pull/134, https://github.com/samuel/go-zookeeper/pull/126),  we'd like to try and get more things merged (https://github.com/samuel/go-zookeeper/issues/204).

There's a few other wrappers around this library that we could contribute back too (a fake Zookeeper implementation

[2019-01-10 01:53] niaow opened #33 "github.com/golang/dep"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

Are there any outstanding **_critical_** bugs that result in the library being totally unusable or insecure?

[2019-01-24 18:31] fgblomqvist opened #34 "github.com/jasonlvhit/gocron"
**Where is the project currently hosted?**
https://github.com/jasonlvhit/gocron

**What languages other than Go does the project utilize?**
None

When was the project's last activity?
Mar 12, 2018
(the only change since then was to update the README to say that the project is looking for maintainers)

**Does the project have a maintainer, or a maintainer looking for someone to take over the projec

[2019-01-30 07:06] theckman commented on #31
@adamdecaf so back at GopherCon there was some talk of there being an opportunity to look in to these packages too. There may be some people who have some access to the repo, and could start a conversation around helping out. There are two other packages that are pretty closely related to `viper`: `spf13/cobra` and `spf13/pflag`, and we may need to understand whether we should look at those too.

[2019-01-30 07:09] theckman commented on #2
We are still engaged on this one. We figured out how to do the migration in a way that will appease module users, and should be okay for users of things like `dep`. There is one outstanding issue with some of the error messages that the Go toolchain prints when a module is imported using the wrong path, and I'm hoping to get it in to g1.12 so we can more comfortably action the migration:

- https:

[2019-01-30 07:11] theckman commented on #32
@adamdecaf considering https://github.com/bitly/oauth2_proxy/pull/684 should we still consider this?

[2019-01-30 07:14] theckman commented on #10
So we've not had much pushing on this issue, but the project that we were pointed to has looked to slow. Is there a renewed interest / reason to go about this?

https://github.com/go-mail/mail

[2019-01-30 07:17] theckman commented on #33
Seems if we want to do this we'll need to pursue a hard fork.

[2019-01-30 07:20] theckman commented on #30
This might be a good fit. We could try to see if fatih would be willing to migrate the repository, but it seems unlikely based on his messaging. What do others in @gofrs/all think?

[2019-01-30 07:38] rogchap commented on #30
This is what I would call a nano package as well as a level of abstraction that can complicate implementations.

It's easier (and more maintainable) to copy this code into your project than have the overhead of managing another dependency... NodeJS dependency hell comes to mind.

I feel that this type of package is one we should not be promoting.

[2019-01-30 09:50] albertorestifo commented on #30
It's a very simple library, even if it's archived, how likely is it to need active maintenance?

The only think we could do is simply move it to use go modules instead of Dep.

[2019-01-30 09:52] zerkms commented on #30
I'm sorry, couldn't resist.

[2019-01-30 17:33] sagikazarmark commented on #30
I agree with @rogchap

I also think that focusing on higher value packages first is what the community would really benefit from.

[2019-01-30 17:44] adamdecaf commented on #32
Yea.

[2019-01-30 17:44] #32 closed

[2019-03-12 14:15] dylan-bourque commented on #34
To be honest, I don't think this particular package is terribly useful.  It claims to be a "cron job scheduler", but I don't see any logic for parsing cron expressions.  It also appears to only support "jobs" being defined as Go functions, which will limit the the scalability.

We're using https://github.com/robfig/cron for work projects, which has very similar functionality and includes a full cr

[2019-03-12 15:33] fgblomqvist commented on #34
You might be right in that robfig/cron is superior in terms of features. Though, while the name surely is a bit misleading, the purpose of goCron is to more-so mimic the features of the Ruby clockwork and Python schedule packages. As in, it is more easily readable than the standard cron notation. But yeah, one could argue that it's not needed I suppose. Anyhow, sadly, robfig/cron looks pretty poor

[2019-03-14 03:36] IngCr3at1on commented on #30
I was coming here to add an issue for this exact request but now having read the conversation I'm semi on the fence...

On the one hand I'm inclined to agree with @rogchap but on the other I can't imagine why I would possibly want to copy what I would consider a dependency into each and every one of my CLI apps that I want to add color to.

It doesn't remind me of javascript it reminds me of a C o

[2019-03-14 03:41] zerkms commented on #30
@IngCr3at1on ++ to your thoughts. I never understood the "small copy is better than a small dependency" idea. It looks like it was only promoted because dependency management tools in go suck so much so that it's to expensive to add yet another dependency (compared to js, php, java/jvm, or c#/.net)

[2019-03-14 04:59] IngCr3at1on commented on #24
Some interesting thoughts on the subject from a GitHub Project Manager;

https://ben.balter.com/2018/01/02/why-you-probably-shouldnt-add-a-cla-to-your-open-source-project/

I would echo that generally I find CLAs to be obnoxious if all I intend is a small one or two line commit or a documentation change I'm left to ask myself "do I care that much"; generally I think most humans are lazy and will t

[2019-03-14 08:06] theckman opened #35 "github.com/benbjohnson/clock"
* https://github.com/benbjohnson/clock

With subsequent forks:

* https://github.com/facebookgo/clock
* https://github.com/andres-erbsen/clock

None.

* `github.com/benbjohnson/clock`: 2016/12/16
* `github.com/facebookgo/clock`: 2015/04/09
* `github.com/andres-erbsen/clock`: 2016/05/26

All of the listed repos have a lack of activity, and some outstanding issues / PRs. There is no visible request

[2019-03-14 22:37] adamdecaf commented on #24
FWIW I've had the CNCF/Kubernetes CLA fail multiple separate times, so much so that I've been unable to commit single line changes to upstream Kubernetes. Placing a burden on contributions to already abandoned projects would prevent contributors (or leave contributions in limbo).

[2019-03-24 19:44] RichyHBM commented on #24
Could any CLA just be a case of "You have permission to, and grant permission to, use contributed code under the exsisting license"?

[2019-04-23 23:20] tariq1890 opened #36 "asaskevich/govalidator"
Where is the project currently hosted?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

Are there any outstanding **_critical_** bugs that result in the library being totally unusable or insecure?

[2019-04-24 00:40] theckman commented on #36
Speaking personally, :-1:. Whenever I see this mentioned in the community, I advocate for avoiding it and to instead write a purpose-built validation function. It's a complex dependency that utilizes reflection. Adopting this in to your project increases the cognitive burden, as you and any contributors now need to learn how it works and the nuances of that. A function you write and test is much m

[2019-05-01 15:38] adamdecaf commented on #36
I don't think we should adopt this project. As Tim said reflection is hidden underneath and the functions may not be completely correct for any given business case.

The [ISO 3166](https://github.com/asaskevich/govalidator/blame/f9ffefc3facfbe0caee3fea233cbb6e8208f4541/types.go#L161) and [ISO 4217](https://github.com/asaskevich/govalidator/blame/f9ffefc3facfbe0caee3fea233cbb6e8208f4541/types.go#L4

[2019-07-27 18:40] nathany commented on #15
Ping

[2019-07-30 02:49] alecthomas commented on #25
As I understand it, [gopls](https://github.com/golang/go/wiki/gopls) is the officially supported future solution to what gocode provides, so this can probably be closed.

[2019-12-10 19:09] joeblubaugh opened #37 "johnboulle/clockwork"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2019-12-11 10:10] cristaloleg commented on #37
404 ?

[2019-12-11 17:46] adamdecaf commented on #37
The link looks to be https://github.com/jonboulle/clockwork

[2019-12-18 16:19] ianlopshire opened #38 "github.com/segmentio/go-athena"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2020-02-11 07:03] bharath23 opened #39 "github.com/guregu/null"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2020-04-25 11:29] guregu commented on #39
I've taken care of those issues and released v4. Unless some bugs surface, the package should be essentially complete now.

[2020-04-26 05:28] bharath23 commented on #39
Thanks for making a new release.

[2020-04-26 05:28] #39 closed

[2020-11-25 17:37] JohnRoesler commented on #34
Hello all! @Streppel and myself have been maintaining this library over at https://github.com/go-co-op/gocron. We already have >300 stars but would like to find ways to alert as many of the >2K star-ers of the jasonlvhit version as possible. We have tried to get in contact with Jason for some time, but have had no luck and as such moved it over.

While it doesn't support cron expressions, the ligh

[2021-01-18 18:09] bmaupin opened #40 "github.com/bmaupin/go-epub"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2021-02-07 22:02] nathany commented on #15
Hello gophers. Fsnotify could still really use some help. Ideally a couple people for each operating system that it supports.

[2021-04-06 07:44] bbrodriges opened #41 "github.com/dgrijalva/jwt-go"
Where is the project currently hosted?

What languages other than Go does the project utilize?

When was the project's last activity?

Does the project have a maintainer, or a maintainer looking for someone to take over the project?

What active projects replicate the popular functionality of this project, if any?

What are some example projects that make use of this package?

Are there any outsta

[2021-04-06 07:48] cristaloleg commented on #41
That's one of the reasons why I've made another JWT library, targeting on a simplicity and performance. Feel free to check it https://github.com/cristalhq/jwt

Also multiple `aud` in `RegisteredClaims` is pretty popular.

[2021-05-04 18:53] mfridman commented on #41
There was another discussion over at https://github.com/dgrijalva/jwt-go/issues/462

Like the others that commented, I believe `dgrijalva/jwt-go` should live as an independently maintained project (instead of a personal account or one affiliated with a company) with at least a few maintainers, [some offered to help](https://github.com/dgrijalva/jwt-go/issues/462#issuecomment-828170032)

I believe

[2021-06-11 20:32] #8 closed

[2021-07-16 15:41] bbrodriges commented on #41
It seems like https://github.com/golang-jwt/jwt is the new location of original repo. @dgrijalva added appropriate section to the README.

[2021-07-16 15:41] #41 closed

[2022-01-14 04:13] nathany commented on #15
My call for help maintaining fsnotify has had very little result in the past 5 years.

I will be officially leaving the `fsnotify` project whether or not anyone else picks it up.

If nobody else takes the project over soon, I will be archiving the project. That way it can still be used as-is but no more issues can be reported. Then it will be up to someone to fork it and maintain it if anyone want

[2022-01-14 07:29] nathany commented on #15
Final Notice: Maintainers Wanted
https://github.com/fsnotify/fsnotify/issues/413

[2022-02-15 08:05] ptman commented on #1
https://github.com/gofrs/websocket - that is now done. Maybe time to close ticket?